.dashboard {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    padding: 20px 40px;
    border-radius: 16px;
    width: 400px;
    opacity: .8;
    box-shadow: 1px 1px 30px 10px #F3CFC6;
    text-align: center;
    color: var(--main-black);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.dash-icon {
    font-size: 1.9rem;
    padding: 4px 8px;
}
.dash-icon:hover {
    text-shadow: 1px 1px 3px #666;
}
.dash-icon-main {
    font-size: 5.4rem;
}

.header_main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.song-avatar {
    background: url(../img/cat.png) no-repeat center;
    background-size: 250px;
    height: var(--song-ava-side);
    width: var(--song-ava-side);
    border-radius: 50%;
    margin: 16px auto;
}

.controller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;
}
.player .btn-pause {
    display: none;
}
.player.playing .btn-play {
    display: none;
}
.player.playing .btn-pause {
    display: block;
}

.bar {
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    cursor: pointer;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    display: block;
    background-color: var(--main-white);
    opacity: 0.9;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 0 4px #999;
    /* visibility: hidden; */
}
.bar::-webkit-slider-thumb:hover {
    /* visibility: visible; */
    width: 16px;
    height: 16px;
}

.voice .dash-icon {
    position: relative;
    top: 5px;
    margin-right: 2px;
}
.volumn {
    width: 50%;
    margin: auto 0;
}

.playlist {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    border-radius: 16px;
    padding: 16px 20px;
    color: var(--main-white);
    max-height: 555px;
    overflow-y: auto;
    scrollbar-width: none;
}
.playlist::-webkit-scrollbar {
    display: none;
}
.playlist-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-title {
    margin: 4px 4px 12px;
    font-size: 2.4rem;
}
.playlist-icon {
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
    padding: 4px 8px;
}
.playlist-icon:hover {
    text-shadow: 1px 1px 10px #333;
}
.song-list {
}
.thumb {
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-origin: content-box;
    margin-right: 8px;
}
.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 12px;
    margin-top: 4px;
}
.song:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.song:hover .thumb {
    box-shadow: 1px 1px 5px #999;
}
.song .author {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-black);
}
.song .title {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--main-white);
}
.option {
    margin-left: auto;
}

.voice {

}